body {
  font-family: Arial, sans-serif;
  width: 80%; /* 幅を80%に設定 */
  margin: 0 auto; /* 中央揃え */
}

header {
  /* background-color: #f5f5f5; */
  padding: 10px;
  text-align: center;
}

nav {
  position: absolute;
  top: 20px;
  right: 20px;
}

nav a {
  color: #5a4632;
  text-decoration: none;
  font-size: 1rem;
  border: 1px solid #5a4632;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #5a4632;
  color: #fff;
}

main{
  margin-bottom: 50px;
}

h2 {
  margin: 0;
  font-size: 2rem;
  color: #5a4632;
}
  

h3{
  font-size: 1.5rem;
  color: #5a4632;
  margin-bottom: 70px;
  margin-top: 40px;
  text-align: center;
  
}

nav a {
  float: right;
  margin-right: 20px;
  text-decoration: none;
}

.search-area {
  margin: 20px 0;
}

.search-area input,
.search-area select {
  margin-right: 10px;
  padding: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  background-color: #8b7968; /* 見出し部分の背景色 */
  color: #ffffff;
}

td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  color: #8b7968; /* <td>の文字の色 */
}


.modal {
  display: block; /* モーダルを表示 */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 半透明の背景 */
}


.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* モーダルの幅 */
  position: relative; /* 「閉じる」ボタンを右上に配置するために必要 */
  display: flex; /* Flexboxを使用 */
  flex-direction: column; /* 縦に配置 */
  align-items: center; /* 中央に揃える */
}

.modal-content p {
  text-align: left; /* テキストを左揃えにする */
  width: 100%; /* テキストがモーダルの幅を使えるようにする */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #aaa;  /*枠を追加*/
  border-radius: 70%;/*丸くする */
  padding: 1px 8px;  /*余白を調整してボタンのサイズを変更 */
}


/* 検索ボタンの背景色 */
#search {
  background-color: #82766a; /* 変更 */
  color: #ffffff; /* 文字の色 */
}

/* リセットボタンの背景色 */
#reset {
  background-color: #d9c5b5; /* 変更 */
  color: #ffffff; /* 文字の色 */
}

/* 詳細ボタンの背景色 */
table a {
  background-color: #fdfdfd; /* 変更 */
  color: #c4ac96; /* 文字の色 */
  padding: 5px 10px; /* ボタンにパディングを追加 */
  border-radius: 5px; /* ボタンを丸く */
  text-decoration: none; /* 下線をなしに */
  border: 2px solid #b09e8e;
}

table a:hover {
  background-color: #8b7968; /* ホバー時の背景色 */
  color: #ffffff; /* ホバー時の文字色 */
  border: 2px solid #ffffff;
}

.delete-button {
  background-color: #e74c3c; /* 赤色 */
  color: #ffffff; /* 文字の色 */
  padding: 10px 15px; /* パディング */
  border: none; /* ボーダーなし */
  border-radius: 5px; /* 丸みを持たせる */
  cursor: pointer; /* ポインタを表示 */
  margin-top: 10px; /* 上にマージンを追加 */
}

.delete-button:hover {
  background-color: #c0392b; /* ホバー時の色 */
}