body {
  font-family: Arial, sans-serif;
  background-color: hsl(0, 0%, 97%);
  position: relative;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

main::before {
  content: "Thank you";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 120px;
  color: rgba(0, 0, 0, 0.05); /* 薄い色 */
  z-index: -1;
}

/* 中央にテキストを配置 */
main {
  text-align: center;
}

h2 {
  font-size: 24px;
  color: #555;
  margin-bottom: 20px;
}

/* HOMEボタンのスタイル */
button {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #8c7663;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #7b6754;
}